<!DOCTYPE html>
<html>
  <head>
    <title>Sequence Checker</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
    <% %w[notice error warning alert info].each do |key| %>
      <% if flash[key] %>
        <div class="flash <%= key %>">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>
    
    <%= yield %>
    <%= erb :debug %>
  <body>
</html>