.alignment {
  width: 1080px;
  word-wrap: break-word;
  white-space: pre;
  font-family: Courier;
  font-size: 15px;
  line-height: 500%;
  color: #666;
  position: relative;
  min-height: 500px;
  overflow: overlay;
}

.alignment > div {
  position: absolute;
  width: inherit;
}

.alignment .translation {
  top: 0px;
  color: lightgrey;
}

.alignment .query {
  top: 15px;
}

.alignment .target {
  text-transform: uppercase;
}

.alignment .target-1 {
  top: 30px;
  color: blue;
}

.alignment .target-1 .insertion {
  background-color: blue;
}
.alignment .target-2 {
  top: 65px;
  color: forestgreen;
}

.alignment .target-2 .insertion {
  background-color: forestgreen;
}
}